/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	padding: 0;
	margin: 0;
	font-size: 17px;
	line-height: 1.4;
	font-family: 'Helvetica', sans-serif;
}

h1 {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	letter-spacing: -3px;
	text-shadow: 0 10px 40px rgba(0,0,0,0.1);
}

h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

.slideshow-first {
	position: relative;
}

.slideshow-first h1 {
	font-size: 5em;
	text-align: center;
	padding: 3.2em 0 0.2em;
}

.slideshow-first ul {
	width: 600px;
	margin: 0 auto;
	display: block;
}

.slideshow-first li {
	font-size: 1.3em;
	padding: 0 0 0.1em;
}

.slideshow-first__slide {
	width: 100%;
	background: center bottom;
	min-height: 650px;
	background-size: cover;
}

.slideshow-first__slide--three h1 {
	padding-top: 1.7em;
}

.slideshow-first__controls__control {
	position: absolute;
	cursor: pointer;
	font-size: 2em;
	padding: 1em;
	bottom: 0;
	right: 0;
}

.slideshow-first__controls__control:hover {
	color: white;
}

.slideshow-first__controls__control:first-child {
	left: 0;
	right: auto;
}